
# ---------- Python ----------
__pycache__/
*.py[cod]
*.pyd
*.so

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/

build/
dist/
*.egg-info/

# ---------- Project-specific (RAG) ----------
qdrant_data/
*.db
*.sqlite3

# ---------- Env ----------
.env
.env.*
!.env.example

# ---------- Logs ----------
*.log

# ---------- OS ----------
.DS_Store

# ---------- IDE ----------
.vscode/
.idea/
.secret